<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebAppPortalAD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Paginas/Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <applicationSettings>
    <WebAppPortalAD.Properties.Settings>
      <setting name="WebAppPortalAD_AD_ActualizarCuentaAD" serializeAs="String">
        <value>http://192.168.100.10/ConsultarAD/ActualizarCuentaAD.svc</value>
      </setting>
      <setting name="WebAppPortalAD_ADServicios_SerWebApp" serializeAs="String">
        <value>http://192.168.100.94/WebApp/SerWebApp.svc</value>
      </setting>
    </WebAppPortalAD.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="server" value="WIN-V86A2EPCTST" />
    <add key="usuario" value="administrator" />
    <add key="clave" value="U$uar10guillo" />
    <add key="dominio" value="adcampuzano.com" />
    <add key="carpeta" value="LDAP://DC=adcampuzano,DC=com" />
    <add key="URL.SERVER" value="http://localhost:44391/" />
    <add key="URL" value="" />
	<add key="EstadoProceso" value="2" />
	<add key="Replace" value="@cloudbusiness.local" />
	<add key="secrekey" value="6Lc583MfAAAAAPIM5wNqz-qP6O7f3VBe-OmvdqY9" />
	  
	<add key="server" value="192.168.100.10" />
    <add key="usuario" value="administrator" />
    <add key="clave" value="U$uar10guillo" />
    <add key="dominio" value="adcampuzano.com" />
    <add key="carpeta" value="LDAP://DC=adcampuzano,DC=com" />
    <add key="URL.SERVER" value="http://localhost:44391/" />
    <add key="URL" value="" />
	<add key="EstadoProceso" value="1" />
	<add key="Replace" value="@adcampuzano.com" />
	  
	  <!--
	<add key="server" value="srvdc01" />
	<add key="usuario" value="cbsadmin" />
	<add key="clave" value="Ecuador.2021" />
	<add key="dominio" value="cloudbusiness.local" />
	<add key="carpeta" value="LDAP://DC=cloudbusiness,DC=local" />
	<add key="URL.SERVER" value="http://localhost:44391/" />
	<add key="URL" value="" />
	<add key="EstadoProceso" value="2" />
	<add key="Replace" value="@cloudbusiness.local" />	  
	  -->
    <!--
	<add key="server" value="AZ-ADDS01" />
	<add key="usuario" value="adminssp" />
	<add key="clave" value="Sopmvopgat2015.*" />
	<add key="dominio" value="indoamerica.edu.ec" />
	<add key="carpeta" value="LDAP://DC=indoamerica,DC=edu,DC=ec" />
	<add key="URL.SERVER" value="http://localhost:44391/"/>
	<add key="URL" value=""/>
	-->
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>